modules = ["python-3.10", "nix"]

hidden = [".pythonlibs"]
run = "flask run -h 0.0.0.0 -p 8080 --reload"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "flask run -h 0.0.0.0 -p 8080 --reload"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
