<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        object{
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
            height: 80vh;
            border : solid black 1px;
        }
    </style>
</head>
<body>
    <h1>Lab 5 Todo API</h1>
    
    <a href="https://documenter.getpostman.com/view/583570/SzKZsvud" target="_blank">Postman Documentation</a>
    <br>
    <object data="/static/collection.pdf#view=FitH" type="application/pdf"></object>
    <br>
    
</body>
</html>